.carrito {
    display: flex;
    align-items: center;
    gap: 4px;
    color: rgb(255, 255, 255);
    cursor: pointer;

    .carrito-icon {
        font-size: 28px;
        
    }
    span {
        font-size: 20px;
   
    }
}
