.carrito {
    display: flex;
    align-items: center;
    gap: 4px;
    color:#6a4724;
    cursor: pointer;
    .carrito-icon {
        font-size: 28px;
    }
    span {
        font-size: 20px;
    }
}
