.divPadre {
    height: 100vh;
    position: relative;
    color: #6a4724;
    background-color:rgba(255, 255, 204, 255)

}
.divHijo {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 100px;
}

.spinnerReactstrap {
    width: 200px !important;
    height: 200px !important;
}
