.footer {
    background-color:#ed0c80;
    // position: absolute;
     bottom: 0;
     width: 100%;

    .footer__container {
        max-width: 900px;
        margin: 0 auto;
        padding: 30px 0;


// 

        font-size: 16px;
        font-weight: 700;
        color: white;

            .footer__text {
                display: flex;
                justify-content: space-evenly;
                align-items:flex-end;


            }
            .footer__icon {
                display: flex;
                justify-content: space-evenly;
                align-items:flex-end;
                cursor: pointer;

            }
    }
}
